.watch {
  width: 100vw;
  height: 100vh;

  .back {
    display: flex;
    position: absolute;
    color: white;
    align-items: center;
    top: 10px;
    left: 10px;
    cursor: pointer;
    z-index: 2;
    padding:10px;

    .icon{
        margin-right:5px;
    }
  }

  .video {
    width: 100%;
    height: 99vh;
    object-fit: cover;
  }
}
